{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  Beneficios
{% endblock %}

{% block conteudo %}

    <section class="caixa"><!--/Início seção saiba -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h2>Beneficios</h2>
              <p>
                Os beneficios da finans consistem na consultoria personalizada, emprestimos sem analise de credito, sem consulta ao serasa, SPC e outros. Com os juros mais baixos do mercado!
              </p>
              <a href="" class="btn btn-primary">Veja mais</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="{% static 'img/saiba.png' %}" class="img-fluid">
          </div>
        </div>
      </div>
    </section><!--/FIM seção saiba -->


{% endblock %}